h1 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  text-decoration: underline
}

h2 {
  font-size: 20px;
  text-decoration: underline;
}

p1 {
  font-size:15px;
}

p {
  font-size:15px;
}

li {
  font-size:15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size:20px;
}

ul li {
  float: left;
  font-size:20px;
}

ul li a {
  font-size: 20px;
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: darkolivegreen;
}

.top-header {
  background: #ffffff;
  border-style: outset;
  border-width: 10px;
  border-color:#ffd9d9;
  text-align: center;
  font-family: serif
}

.navigation-tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

img {
  float:right;
  display:block;
  margin: 10px;
  border-color: #edb7b6;
  border-width: 5px;
  border-style: double;
  border-radius: 20px
}
